@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'roboto', sans-serif;
  font-variant: small-caps;
  color: white;
}

#particles {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  opacity: 0.4;
}

svg:hover {
  animation: fade 1s;
}

@keyframes fade {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}
